schema/commonTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema version="1.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="individualType">
		<xs:sequence>
			<xs:element name="FirstName" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastName" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OccupationandEmployer" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="committeeType">
		<xs:sequence>
			<xs:element name="Name" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:annotation>
					<xs:documentation xml:lang="en">
						if the committee does not yet have an id value, provide the treasurer's contact information
					</xs:documentation>
				</xs:annotation>
				<xs:element name="CommitteeId" minOccurs="0" maxOccurs="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Treasurer" type="treasurerType" minOccurs="0" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organizationType">
		<xs:sequence>
			<xs:element name="Name" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="300"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="treasurerType">
		<xs:complexContent>
			<xs:extension base="individualType">
				<xs:sequence>
					<xs:element name="address" type="addressType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="phone" type="phoneNumberFormat" minOccurs="0" maxOccurs="1"/>
					<xs:element name="fax" type="phoneNumberFormat" minOccurs="0" maxOccurs="1"/>
					<xs:element name="email" type="emailAddressFormat" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="measureType">
		<xs:sequence>
			<xs:element name="NumberOrLetter" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- should this be required? -->
			<xs:element name="Title" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="200"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Jurisdiction" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="electionCycleType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Allows tagging of transactions using FEC-style election cycle codes, such as 'G2020'
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:pattern value="[PGSRO](197[1-9]|19[8-9]\d|20\d{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="noteType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="noteListType">
		<xs:sequence>
			<xs:element name="Note" type="noteType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="electionSplitType">
		<xs:sequence>
			<xs:element name="Election" type="electionCycleType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Amount" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="electionSplitListType">
		<xs:sequence>
			<xs:element name="Split" type="electionSplitType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="scheduleDPaymentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Monetary"/>
			<xs:enumeration value="Nonmonetary"/>
			<xs:enumeration value="IndependentExpenditure"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="headerType">
		<xs:sequence>
			<xs:element name="CARS_Ver" type="xs:string" minOccurs="1" maxOccurs="1" default="1.07">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Provide the version of the XSD file against which this file was validated. This will be used to determine if the XSD file used is still supported.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CARS_Form" type="xs:string" minOccurs="1" maxOccurs="1" fixed="460">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Provide the CAL-ACCESS form being submitted.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soft_Name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Provide the Name of the Vendor of the software used to generate this file. Together with the Software Version, this will be validated against the certified software provider list to ensure that the software used has been certified to use the API to upload filings.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Soft_Ver" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Provide the version of the software used to generate this file. Together with the Software Name, this will be validated against the certified software provider list to ensure that the software used has been certified to use the API to upload filings.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FilerId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Provide the ID Number assigned to this Recipient Committee. This will be validated against the database to ensure the file is loaded to the correct filer.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name='zipcodeFormat'>
		<xs:restriction base='xs:string'>
			<xs:pattern value='[0-9]{5}(-[0-9]{4})?'/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="empty">
		<xs:restriction base="xs:string">
			<xs:maxLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name='stateFormat'>
		<xs:restriction base='xs:string'>
			<xs:enumeration value="CA"/>
		</xs:restriction>
	</xs:simpleType>
	<!--  (123) 456-7890 | 123-456-7890 -->
	<xs:simpleType name='phoneNumberFormat'>
		<xs:restriction base='xs:string'>
			<xs:pattern value='((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}'/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="emailAddressFormat">
		<xs:restriction base="xs:string">
			<xs:pattern value="[^@]+@[^\.]+\..+"/>
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="phoneNumberFormatEmpty">
		<xs:union memberTypes="phoneNumberFormat empty"/>
	</xs:simpleType>
	<xs:simpleType name="zipcodeFormatEmpty">
		<xs:union memberTypes="zipcodeFormat empty"/>
	</xs:simpleType>
	<xs:simpleType name="emailAddressFormatEmpty">
		<xs:union memberTypes="emailAddressFormat empty"/>
	</xs:simpleType>
	<xs:simpleType name="NonEmptyString">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\s\S]*[^ ][\s\S]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Enumerations -->
	<xs:simpleType name="activityLevelEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="City"/>
			<xs:enumeration value="County"/>
			<xs:enumeration value="State"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="generalpurposeactivityLevelEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="City"/>
			<xs:enumeration value="County"/>
			<xs:enumeration value="State"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="activityTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Legislative"/>
			<xs:enumeration value="Administrative"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="addressTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Home"/>
			<xs:enumeration value="Mailing"/>
			<xs:enumeration value="Office"/>
			<xs:enumeration value="Physical"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="campaignContributionsMadeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None This Period"/>
			<xs:enumeration value="Part IV Completed and Attached"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="campaignContributionsMade2Enumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Part III Completed and Attached"/>
			<xs:enumeration value="No Campaign Contributions Made This Period"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contributorCodeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IND">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Individual
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COM">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Recipient Committee (other than PTY or SCC)
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Other (e.g., business entity)
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PTY">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Political Party
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SCC">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Small Contributor Committee
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="controllerTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Candidate"/>
			<xs:enumeration value="Officeholder"/>
			<xs:enumeration value="Measure Proponent"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="controllerTypeEnumerationContolledcommittee">
		<xs:restriction base="xs:string">
			<xs:enumeration value="American Independent Party"/>
			<xs:enumeration value="Democratic Party"/>
			<xs:enumeration value="Green Party"/>
			<xs:enumeration value="Libertarian Party"/>
			<xs:enumeration value="Peace and Freedom Party"/>
			<xs:enumeration value="Republican Party"/>
			<xs:enumeration value="No Party Preference"/>
			<xs:enumeration value=" "/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="courseIndicationEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="New Certification – Within the next 12 months"/>
			<xs:enumeration value="Renewal – By June 30 of the next calendar year"/>
			<xs:enumeration value="I completed the course."/>
			<xs:enumeration value="I have not taken the course within the previous 12 months. I will attend the course by June 30 of the next calendar year."/>
			<xs:enumeration value="I have not taken the course within the previous 12 months. I will attend the course within the next 12 months."/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="courseTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="New Certification"/>
			<xs:enumeration value="Renewal"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dateOrDateTime">
		<xs:union memberTypes="xs:date xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="dateOrDateTimeEmpty">
		<xs:union memberTypes="dateOrDateTime empty"/>
	</xs:simpleType>
	<xs:simpleType name="countyEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Alameda"/>
			<xs:enumeration value="Alpine"/>
			<xs:enumeration value="Amador"/>
			<xs:enumeration value="Butte"/>
			<xs:enumeration value="Calaveras"/>
			<xs:enumeration value="Colusa"/>
			<xs:enumeration value="Contra Costa"/>
			<xs:enumeration value="Del Norte"/>
			<xs:enumeration value="El Dorado"/>
			<xs:enumeration value="Fresno"/>
			<xs:enumeration value="Glenn"/>
			<xs:enumeration value="Humboldt"/>
			<xs:enumeration value="Imperial"/>
			<xs:enumeration value="Inyo"/>
			<xs:enumeration value="Kern"/>
			<xs:enumeration value="Kings"/>
			<xs:enumeration value="Lake"/>
			<xs:enumeration value="Lassen"/>
			<xs:enumeration value="Los Angeles"/>
			<xs:enumeration value="Madera"/>
			<xs:enumeration value="Marin"/>
			<xs:enumeration value="Mariposa"/>
			<xs:enumeration value="Mendocino"/>
			<xs:enumeration value="Merced"/>
			<xs:enumeration value="Modoc"/>
			<xs:enumeration value="Mono"/>
			<xs:enumeration value="Monterey"/>
			<xs:enumeration value="Napa"/>
			<xs:enumeration value="Nevada"/>
			<xs:enumeration value="Orange"/>
			<xs:enumeration value="Placer"/>
			<xs:enumeration value="Plumas"/>
			<xs:enumeration value="Riverside"/>
			<xs:enumeration value="Sacramento"/>
			<xs:enumeration value="San Benito"/>
			<xs:enumeration value="San Bernardino"/>
			<xs:enumeration value="San Diego"/>
			<xs:enumeration value="San Francisco"/>
			<xs:enumeration value="San Joaquin"/>
			<xs:enumeration value="San Luis Obispo"/>
			<xs:enumeration value="San Mateo"/>
			<xs:enumeration value="Santa Barbara"/>
			<xs:enumeration value="Santa Clara"/>
			<xs:enumeration value="Santa Cruz"/>
			<xs:enumeration value="Shasta"/>
			<xs:enumeration value="Sierra"/>
			<xs:enumeration value="Siskiyou"/>
			<xs:enumeration value="Solano"/>
			<xs:enumeration value="Sonoma"/>
			<xs:enumeration value="Stanislaus"/>
			<xs:enumeration value="Sutter"/>
			<xs:enumeration value="Tehama"/>
			<xs:enumeration value="Trinity"/>
			<xs:enumeration value="Tulare"/>
			<xs:enumeration value="Tuolumne"/>
			<xs:enumeration value="Ventura"/>
			<xs:enumeration value="Yolo"/>
			<xs:enumeration value="Yuba"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="electionTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Primary"/>
			<xs:enumeration value="General"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="industryGroupEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AGRICULTURE"/>
			<xs:enumeration value="BUSINESS"/>
			<xs:enumeration value="EDUCATION"/>
			<xs:enumeration value="GOVERNMENT"/>
			<xs:enumeration value="HEALTH"/>
			<xs:enumeration value="LABOR UNIONS"/>
			<xs:enumeration value="LEGAL"/>
			<xs:enumeration value="PUBLIC EMPLOYEES"/>
			<xs:enumeration value="POLITICAL ORGANIZATIONS"/>
			<xs:enumeration value="UTILITIES"/>
			<xs:enumeration value="OTHER"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="industryGroupBusinessEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ENTERTAINMENT/RECREATION"/>
			<xs:enumeration value="FINANCE/INSURANCE"/>
			<xs:enumeration value="LODGING/RESTAURANTS"/>
			<xs:enumeration value="MANUFACTURING/INDUSTRIAL"/>
			<xs:enumeration value="MERCHANDISE /RETAIL"/>
			<xs:enumeration value="OIL AND GAS"/>
			<xs:enumeration value="PROFESSIONAL/TRADE"/>
			<xs:enumeration value="REAL ESTATE"/>
			<xs:enumeration value="TRANSPORTATION"/>
			<xs:enumeration value="OTHER"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lobbyingFirmTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Partners, Owners, Officers, or Employees whose Lobbyist Reports (Form 615) are attached to this report"/>
			<xs:enumeration value="Partners, Owners, Officers, or Employees who engaged in direct communication on at least five separate occasions during the period"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lobbyistEmployerTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Individual"/>
			<xs:enumeration value="Business Entity"/>
			<xs:enumeration value="Industry, Trade or Professional Association"/>
			<xs:enumeration value="Industry, Trade, or Professional ASSN."/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lobbyistTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Lobbyist Employer"/>
			<xs:enumeration value="Lobbying Coalition"/>
			<xs:enumeration value="Lobbying Employer/Coalition"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="lobbyistType2Enumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Lobbying Firm"/>
			<xs:enumeration value="Lobbyist Employer"/>
			<xs:enumeration value="Lobbying Coalition"/>
			<xs:enumeration value="Amendment"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="memberCountEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="50 Or Less"/>
			<xs:enumeration value="More Than 50"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="part3CompletedEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Part 3 Completed and Attached"/>
			<xs:enumeration value="No Campaign Contributions Made"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="partisanTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Partisan"/>
			<xs:enumeration value="Nonpartisan"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="payeeTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CMT">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Committee
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IND">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Individual
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Other (e.g. business entity)
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="typeOfContributorLenderGuarantorEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IND"/>
			<xs:enumeration value="COM"/>
			<xs:enumeration value="OTH"/>
			<xs:enumeration value="PTY"/>
			<xs:enumeration value="SCC"/>
			<xs:enumeration value="Direct Loan from Financial Institution"/>
			<xs:enumeration value="Not Applicable"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="paymentCodeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						for salary of employees other than lobbyists who are engaged for 10% or more of their time in one month in activities related to lobbying
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="E">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						for expenses incurred by a lobbyist and paid directly by the filer, or expenses incurred by the filer for goods or services used by a lobbyist
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="L">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						for legislative related-services performed by a lobbying firm under Regulation 18614(b)(2)
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						for consultants and government relations
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						for public affairs, including coalition building and grassroots campaigns
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						for advertising
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						for research including feasibility studies, analysis, polling and public opinion research
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="V">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						for lobbying events including event planning, rentals, equipment, and transportation for members or the public
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="O">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						for all other payments not covered by one of the specific categories
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="paymentForgivenessTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Payment"/>
			<xs:enumeration value="ThirdPartyPayment"/>
			<xs:enumeration value="Forgiveness"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="paymentTypeCodeEnumeration">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				If one of the following codes accurately describes the payment, you may enter the code. Otherwise, describe the payment.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CMP">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						campaign paraphernalia/misc.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CNS">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						campaign consultants
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CTB">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						contribution (explain nonmonetary)*
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CVC">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						civic donations
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FIL">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						candidate filing/ballot fees
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FND">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						fundraising events
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IND">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						independent expenditure supporting/opposing others (explain)*
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LEG">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						legal defense
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIT">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						campaign literature and mailings
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MBR">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						member communications
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MTG">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						meetings and appearances
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OFC">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						office expenses
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PET">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						petition circulating
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PHO">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						phone banks
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="POL">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						polling and survey research
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="POS">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						postage, delivery and messenger services
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PRO">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						professional services (legal, accounting)
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PRT">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						print ads
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RAD">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						radio airtime and production costs
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RFD">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						returned contributions
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAL">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						campaign workers’ salaries
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TEL">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						t.v. or cable airtime and production costs
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRC">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						candidate travel, lodging, and meals
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRS">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						staff/spouse travel, lodging, and meals
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TSF">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						transfer between committees of the same candidate/sponsor
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VOT">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						voter registration
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WEB">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						information technology costs (internet, e-mail)
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="paymentTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MonetaryContribution"/>
			<xs:enumeration value="NonmonetaryContribution"/>
			<xs:enumeration value="IndependentExpenditure"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="paymentType2Enumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MonetaryContribution"/>
			<xs:enumeration value="Loan"/>
			<xs:enumeration value="NonmonetaryContribution"/>
			<xs:enumeration value="IndependentExpenditure"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="phoneTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FAX"/>
			<xs:enumeration value="Home"/>
			<xs:enumeration value="Mobile"/>
			<xs:enumeration value="Office"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positionEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Support"/>
			<xs:enumeration value="Oppose"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="recipientCommitteeStatementTypeEnumeration">
		<xs:restriction base="xs:string">
			<!--<xs:enumeration value="Initial" />-->
			<xs:enumeration value="Amendment"/>
			<xs:enumeration value="Termination"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="reportEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="E"/>
			<xs:enumeration value="G"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="roleEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Treasurer"/>
			<xs:enumeration value="Assistant Treasurer"/>
			<xs:enumeration value="Principal Officer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sourceCodeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IND">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Individual
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CMT">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Recipient Committee
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Other (e.g. business entity)
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statementTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Pre-election Statement"/>
			<xs:enumeration value="Semi-annual Statement"/>
			<xs:enumeration value="Termination Statement"/>
			<xs:enumeration value="Quarterly Statement"/>
			<xs:enumeration value="Special Odd-Year Report"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="supportOpposeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Support"/>
			<xs:enumeration value="Oppose"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="primarilyformedsupportOpposeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Support"/>
			<xs:enumeration value="Oppose"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PayerTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CMT">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Committee
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COH">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Candidate/Officeholder
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IND">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Individual
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Other (e.g. business entity)
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="withdrawalTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Lobbyist"/>
			<xs:enumeration value="Lobbying Firm"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yearHalfEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="January 1 through June 30"/>
			<xs:enumeration value="July 1 through December 31"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Restrictions -->
	<xs:simpleType name="yearsAllowedRestriction">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1900"/>
			<xs:maxInclusive value="2100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="years2KAllowedRestriction">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="2000"/>
			<xs:maxInclusive value="2099"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="iso3166CountryCodeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AF">
				<xs:annotation>
					<xs:documentation>AFGHANISTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AX">
				<xs:annotation>
					<xs:documentation>ÅLAND ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AL">
				<xs:annotation>
					<xs:documentation>ALBANIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DZ">
				<xs:annotation>
					<xs:documentation>ALGERIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AS">
				<xs:annotation>
					<xs:documentation>AMERICAN SAMOA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AD">
				<xs:annotation>
					<xs:documentation>ANDORRA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AO">
				<xs:annotation>
					<xs:documentation>ANGOLA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AI">
				<xs:annotation>
					<xs:documentation>ANGUILLA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AQ">
				<xs:annotation>
					<xs:documentation>ANTARCTICA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AG">
				<xs:annotation>
					<xs:documentation>ANTIGUA AND BARBUDA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AR">
				<xs:annotation>
					<xs:documentation>ARGENTINA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AM">
				<xs:annotation>
					<xs:documentation>ARMENIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AW">
				<xs:annotation>
					<xs:documentation>ARUBA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AU">
				<xs:annotation>
					<xs:documentation>AUSTRALIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AT">
				<xs:annotation>
					<xs:documentation>AUSTRIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AZ">
				<xs:annotation>
					<xs:documentation>AZERBAIJAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BS">
				<xs:annotation>
					<xs:documentation>BAHAMAS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BH">
				<xs:annotation>
					<xs:documentation>BAHRAIN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BD">
				<xs:annotation>
					<xs:documentation>BANGLADESH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BB">
				<xs:annotation>
					<xs:documentation>BARBADOS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BY">
				<xs:annotation>
					<xs:documentation>BELARUS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BE">
				<xs:annotation>
					<xs:documentation>BELGIUM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BZ">
				<xs:annotation>
					<xs:documentation>BELIZE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BJ">
				<xs:annotation>
					<xs:documentation>BENIN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BM">
				<xs:annotation>
					<xs:documentation>BERMUDA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BT">
				<xs:annotation>
					<xs:documentation>BHUTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BO">
				<xs:annotation>
					<xs:documentation>BOLIVIA, PLURINATIONAL STATE OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BA">
				<xs:annotation>
					<xs:documentation>BOSNIA AND HERZEGOVINA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BW">
				<xs:annotation>
					<xs:documentation>BOTSWANA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BV">
				<xs:annotation>
					<xs:documentation>BOUVET ISLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BR">
				<xs:annotation>
					<xs:documentation>BRAZIL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IO">
				<xs:annotation>
					<xs:documentation>BRITISH INDIAN OCEAN TERRITORY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BN">
				<xs:annotation>
					<xs:documentation>BRUNEI DARUSSALAM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BG">
				<xs:annotation>
					<xs:documentation>BULGARIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BF">
				<xs:annotation>
					<xs:documentation>BURKINA FASO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BI">
				<xs:annotation>
					<xs:documentation>BURUNDI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KH">
				<xs:annotation>
					<xs:documentation>CAMBODIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CM">
				<xs:annotation>
					<xs:documentation>CAMEROON</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CA">
				<xs:annotation>
					<xs:documentation>CANADA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CV">
				<xs:annotation>
					<xs:documentation>CAPE VERDE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KY">
				<xs:annotation>
					<xs:documentation>CAYMAN ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CF">
				<xs:annotation>
					<xs:documentation>CENTRAL AFRICAN REPUBLIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TD">
				<xs:annotation>
					<xs:documentation>CHAD</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CL">
				<xs:annotation>
					<xs:documentation>CHILE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CN">
				<xs:annotation>
					<xs:documentation>CHINA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CX">
				<xs:annotation>
					<xs:documentation>CHRISTMAS ISLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CC">
				<xs:annotation>
					<xs:documentation>COCOS (KEELING) ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CO">
				<xs:annotation>
					<xs:documentation>COLOMBIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KM">
				<xs:annotation>
					<xs:documentation>COMOROS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CG">
				<xs:annotation>
					<xs:documentation>CONGO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CD">
				<xs:annotation>
					<xs:documentation>CONGO, THE DEMOCRATIC REPUBLIC OF THE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CK">
				<xs:annotation>
					<xs:documentation>COOK ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CR">
				<xs:annotation>
					<xs:documentation>COSTA RICA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CI">
				<xs:annotation>
					<xs:documentation>CÔTE D'IVOIRE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HR">
				<xs:annotation>
					<xs:documentation>CROATIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CU">
				<xs:annotation>
					<xs:documentation>CUBA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CY">
				<xs:annotation>
					<xs:documentation>CYPRUS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CZ">
				<xs:annotation>
					<xs:documentation>CZECH REPUBLIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DK">
				<xs:annotation>
					<xs:documentation>DENMARK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DJ">
				<xs:annotation>
					<xs:documentation>DJIBOUTI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DM">
				<xs:annotation>
					<xs:documentation>DOMINICA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DO">
				<xs:annotation>
					<xs:documentation>DOMINICAN REPUBLIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EC">
				<xs:annotation>
					<xs:documentation>ECUADOR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EG">
				<xs:annotation>
					<xs:documentation>EGYPT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SV">
				<xs:annotation>
					<xs:documentation>EL SALVADOR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GQ">
				<xs:annotation>
					<xs:documentation>EQUATORIAL GUINEA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ER">
				<xs:annotation>
					<xs:documentation>ERITREA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EE">
				<xs:annotation>
					<xs:documentation>ESTONIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ET">
				<xs:annotation>
					<xs:documentation>ETHIOPIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FK">
				<xs:annotation>
					<xs:documentation>FALKLAND ISLANDS (MALVINAS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FO">
				<xs:annotation>
					<xs:documentation>FAROE ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FJ">
				<xs:annotation>
					<xs:documentation>FIJI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FI">
				<xs:annotation>
					<xs:documentation>FINLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FR">
				<xs:annotation>
					<xs:documentation>FRANCE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GF">
				<xs:annotation>
					<xs:documentation>FRENCH GUIANA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PF">
				<xs:annotation>
					<xs:documentation>FRENCH POLYNESIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TF">
				<xs:annotation>
					<xs:documentation>FRENCH SOUTHERN TERRITORIES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GA">
				<xs:annotation>
					<xs:documentation>GABON</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GM">
				<xs:annotation>
					<xs:documentation>GAMBIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GE">
				<xs:annotation>
					<xs:documentation>GEORGIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DE">
				<xs:annotation>
					<xs:documentation>GERMANY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GH">
				<xs:annotation>
					<xs:documentation>GHANA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GI">
				<xs:annotation>
					<xs:documentation>GIBRALTAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GR">
				<xs:annotation>
					<xs:documentation>GREECE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GL">
				<xs:annotation>
					<xs:documentation>GREENLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GD">
				<xs:annotation>
					<xs:documentation>GRENADA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GP">
				<xs:annotation>
					<xs:documentation>GUADELOUPE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GU">
				<xs:annotation>
					<xs:documentation>GUAM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GT">
				<xs:annotation>
					<xs:documentation>GUATEMALA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GG">
				<xs:annotation>
					<xs:documentation>GUERNSEY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GN">
				<xs:annotation>
					<xs:documentation>GUINEA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GW">
				<xs:annotation>
					<xs:documentation>GUINEA-BISSAU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GY">
				<xs:annotation>
					<xs:documentation>GUYANA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HT">
				<xs:annotation>
					<xs:documentation>HAITI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HM">
				<xs:annotation>
					<xs:documentation>HEARD ISLAND AND MCDONALD ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VA">
				<xs:annotation>
					<xs:documentation>HOLY SEE (VATICAN CITY STATE)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HN">
				<xs:annotation>
					<xs:documentation>HONDURAS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HK">
				<xs:annotation>
					<xs:documentation>HONG KONG</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HU">
				<xs:annotation>
					<xs:documentation>HUNGARY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IS">
				<xs:annotation>
					<xs:documentation>ICELAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IN">
				<xs:annotation>
					<xs:documentation>INDIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ID">
				<xs:annotation>
					<xs:documentation>INDONESIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IR">
				<xs:annotation>
					<xs:documentation>IRAN, ISLAMIC REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IQ">
				<xs:annotation>
					<xs:documentation>IRAQ</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IE">
				<xs:annotation>
					<xs:documentation>IRELAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IM">
				<xs:annotation>
					<xs:documentation>ISLE OF MAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IL">
				<xs:annotation>
					<xs:documentation>ISRAEL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IT">
				<xs:annotation>
					<xs:documentation>ITALY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JM">
				<xs:annotation>
					<xs:documentation>JAMAICA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JP">
				<xs:annotation>
					<xs:documentation>JAPAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JE">
				<xs:annotation>
					<xs:documentation>JERSEY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JO">
				<xs:annotation>
					<xs:documentation>JORDAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KZ">
				<xs:annotation>
					<xs:documentation>KAZAKHSTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KE">
				<xs:annotation>
					<xs:documentation>KENYA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KI">
				<xs:annotation>
					<xs:documentation>KIRIBATI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KP">
				<xs:annotation>
					<xs:documentation>KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KR">
				<xs:annotation>
					<xs:documentation>KOREA, REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KW">
				<xs:annotation>
					<xs:documentation>KUWAIT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KG">
				<xs:annotation>
					<xs:documentation>KYRGYZSTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LA">
				<xs:annotation>
					<xs:documentation>LAO PEOPLE'S DEMOCRATIC REPUBLIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LV">
				<xs:annotation>
					<xs:documentation>LATVIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LB">
				<xs:annotation>
					<xs:documentation>LEBANON</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LS">
				<xs:annotation>
					<xs:documentation>LESOTHO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LR">
				<xs:annotation>
					<xs:documentation>LIBERIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LY">
				<xs:annotation>
					<xs:documentation>LIBYAN ARAB JAMAHIRIYA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LI">
				<xs:annotation>
					<xs:documentation>LIECHTENSTEIN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LT">
				<xs:annotation>
					<xs:documentation>LITHUANIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LU">
				<xs:annotation>
					<xs:documentation>LUXEMBOURG</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MO">
				<xs:annotation>
					<xs:documentation>MACAO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MK">
				<xs:annotation>
					<xs:documentation>MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MG">
				<xs:annotation>
					<xs:documentation>MADAGASCAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MW">
				<xs:annotation>
					<xs:documentation>MALAWI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MY">
				<xs:annotation>
					<xs:documentation>MALAYSIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MV">
				<xs:annotation>
					<xs:documentation>MALDIVES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ML">
				<xs:annotation>
					<xs:documentation>MALI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MT">
				<xs:annotation>
					<xs:documentation>MALTA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MH">
				<xs:annotation>
					<xs:documentation>MARSHALL ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MQ">
				<xs:annotation>
					<xs:documentation>MARTINIQUE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MR">
				<xs:annotation>
					<xs:documentation>MAURITANIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MU">
				<xs:annotation>
					<xs:documentation>MAURITIUS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="YT">
				<xs:annotation>
					<xs:documentation>MAYOTTE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MX">
				<xs:annotation>
					<xs:documentation>MEXICO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FM">
				<xs:annotation>
					<xs:documentation>MICRONESIA, FEDERATED STATES OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MD">
				<xs:annotation>
					<xs:documentation>MOLDOVA, REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MC">
				<xs:annotation>
					<xs:documentation>MONACO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MN">
				<xs:annotation>
					<xs:documentation>MONGOLIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ME">
				<xs:annotation>
					<xs:documentation>MONTENEGRO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MS">
				<xs:annotation>
					<xs:documentation>MONTSERRAT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MA">
				<xs:annotation>
					<xs:documentation>MOROCCO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MZ">
				<xs:annotation>
					<xs:documentation>MOZAMBIQUE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MM">
				<xs:annotation>
					<xs:documentation>MYANMAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NA">
				<xs:annotation>
					<xs:documentation>NAMIBIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NR">
				<xs:annotation>
					<xs:documentation>NAURU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NP">
				<xs:annotation>
					<xs:documentation>NEPAL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NL">
				<xs:annotation>
					<xs:documentation>NETHERLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AN">
				<xs:annotation>
					<xs:documentation>NETHERLANDS ANTILLES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NC">
				<xs:annotation>
					<xs:documentation>NEW CALEDONIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NZ">
				<xs:annotation>
					<xs:documentation>NEW ZEALAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NI">
				<xs:annotation>
					<xs:documentation>NICARAGUA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NE">
				<xs:annotation>
					<xs:documentation>NIGER</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NG">
				<xs:annotation>
					<xs:documentation>NIGERIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NU">
				<xs:annotation>
					<xs:documentation>NIUE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NF">
				<xs:annotation>
					<xs:documentation>NORFOLK ISLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MP">
				<xs:annotation>
					<xs:documentation>NORTHERN MARIANA ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NO">
				<xs:annotation>
					<xs:documentation>NORWAY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OM">
				<xs:annotation>
					<xs:documentation>OMAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PK">
				<xs:annotation>
					<xs:documentation>PAKISTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PW">
				<xs:annotation>
					<xs:documentation>PALAU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PS">
				<xs:annotation>
					<xs:documentation>PALESTINIAN TERRITORY, OCCUPIED</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PA">
				<xs:annotation>
					<xs:documentation>PANAMA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PG">
				<xs:annotation>
					<xs:documentation>PAPUA NEW GUINEA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PY">
				<xs:annotation>
					<xs:documentation>PARAGUAY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PE">
				<xs:annotation>
					<xs:documentation>PERU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PH">
				<xs:annotation>
					<xs:documentation>PHILIPPINES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PN">
				<xs:annotation>
					<xs:documentation>PITCAIRN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PL">
				<xs:annotation>
					<xs:documentation>POLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PT">
				<xs:annotation>
					<xs:documentation>PORTUGAL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PR">
				<xs:annotation>
					<xs:documentation>PUERTO RICO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="QA">
				<xs:annotation>
					<xs:documentation>QATAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RE">
				<xs:annotation>
					<xs:documentation>RÉUNION</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RO">
				<xs:annotation>
					<xs:documentation>ROMANIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RU">
				<xs:annotation>
					<xs:documentation>RUSSIAN FEDERATION</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RW">
				<xs:annotation>
					<xs:documentation>RWANDA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BL">
				<xs:annotation>
					<xs:documentation>SAINT BARTHÉLEMY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SH">
				<xs:annotation>
					<xs:documentation>SAINT HELENA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KN">
				<xs:annotation>
					<xs:documentation>SAINT KITTS AND NEVIS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LC">
				<xs:annotation>
					<xs:documentation>SAINT LUCIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MF">
				<xs:annotation>
					<xs:documentation>SAINT MARTIN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PM">
				<xs:annotation>
					<xs:documentation>SAINT PIERRE AND MIQUELON</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VC">
				<xs:annotation>
					<xs:documentation>SAINT VINCENT AND THE GRENADINES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WS">
				<xs:annotation>
					<xs:documentation>SAMOA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SM">
				<xs:annotation>
					<xs:documentation>SAN MARINO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST">
				<xs:annotation>
					<xs:documentation>SAO TOME AND PRINCIPE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SA">
				<xs:annotation>
					<xs:documentation>SAUDI ARABIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SN">
				<xs:annotation>
					<xs:documentation>SENEGAL</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RS">
				<xs:annotation>
					<xs:documentation>SERBIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SC">
				<xs:annotation>
					<xs:documentation>SEYCHELLES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SL">
				<xs:annotation>
					<xs:documentation>SIERRA LEONE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SG">
				<xs:annotation>
					<xs:documentation>SINGAPORE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SK">
				<xs:annotation>
					<xs:documentation>SLOVAKIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SI">
				<xs:annotation>
					<xs:documentation>SLOVENIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SB">
				<xs:annotation>
					<xs:documentation>SOLOMON ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SO">
				<xs:annotation>
					<xs:documentation>SOMALIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZA">
				<xs:annotation>
					<xs:documentation>SOUTH AFRICA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GS">
				<xs:annotation>
					<xs:documentation>SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ES">
				<xs:annotation>
					<xs:documentation>SPAIN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LK">
				<xs:annotation>
					<xs:documentation>SRI LANKA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SD">
				<xs:annotation>
					<xs:documentation>SUDAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SR">
				<xs:annotation>
					<xs:documentation>SURINAME</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SJ">
				<xs:annotation>
					<xs:documentation>SVALBARD AND JAN MAYEN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SZ">
				<xs:annotation>
					<xs:documentation>SWAZILAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SE">
				<xs:annotation>
					<xs:documentation>SWEDEN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CH">
				<xs:annotation>
					<xs:documentation>SWITZERLAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SY">
				<xs:annotation>
					<xs:documentation>SYRIAN ARAB REPUBLIC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TW">
				<xs:annotation>
					<xs:documentation>TAIWAN, PROVINCE OF CHINA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TJ">
				<xs:annotation>
					<xs:documentation>TAJIKISTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TZ">
				<xs:annotation>
					<xs:documentation>TANZANIA, UNITED REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TH">
				<xs:annotation>
					<xs:documentation>THAILAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TL">
				<xs:annotation>
					<xs:documentation>TIMOR-LESTE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TG">
				<xs:annotation>
					<xs:documentation>TOGO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TK">
				<xs:annotation>
					<xs:documentation>TOKELAU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TO">
				<xs:annotation>
					<xs:documentation>TONGA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TT">
				<xs:annotation>
					<xs:documentation>TRINIDAD AND TOBAGO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TN">
				<xs:annotation>
					<xs:documentation>TUNISIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TR">
				<xs:annotation>
					<xs:documentation>TURKEY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TM">
				<xs:annotation>
					<xs:documentation>TURKMENISTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TC">
				<xs:annotation>
					<xs:documentation>TURKS AND CAICOS ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TV">
				<xs:annotation>
					<xs:documentation>TUVALU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UG">
				<xs:annotation>
					<xs:documentation>UGANDA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UA">
				<xs:annotation>
					<xs:documentation>UKRAINE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AE">
				<xs:annotation>
					<xs:documentation>UNITED ARAB EMIRATES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GB">
				<xs:annotation>
					<xs:documentation>UNITED KINGDOM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="US">
				<xs:annotation>
					<xs:documentation>UNITED STATES</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UM">
				<xs:annotation>
					<xs:documentation>UNITED STATES MINOR OUTLYING ISLANDS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UY">
				<xs:annotation>
					<xs:documentation>URUGUAY</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UZ">
				<xs:annotation>
					<xs:documentation>UZBEKISTAN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VU">
				<xs:annotation>
					<xs:documentation>VANUATU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VE">
				<xs:annotation>
					<xs:documentation>VENEZUELA, BOLIVARIAN REPUBLIC OF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VN">
				<xs:annotation>
					<xs:documentation>VIET NAM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VG">
				<xs:annotation>
					<xs:documentation>VIRGIN ISLANDS, BRITISH</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VI">
				<xs:annotation>
					<xs:documentation>VIRGIN ISLANDS, U.S.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WF">
				<xs:annotation>
					<xs:documentation>WALLIS AND FUTUNA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EH">
				<xs:annotation>
					<xs:documentation>WESTERN SAHARA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="YE">
				<xs:annotation>
					<xs:documentation>YEMEN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZM">
				<xs:annotation>
					<xs:documentation>ZAMBIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZW">
				<xs:annotation>
					<xs:documentation>ZIMBABWE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="addressType">
		<xs:sequence>
			<xs:element name="AddressLine" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="City" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="State" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ZipCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Country" type="iso3166CountryCodeEnumeration" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="verificationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				This section contains the signatures attesting that the information contained in this filing is complete and accurate.
				The person(s) signing this must be listed as an officer for the filer.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransactionID" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						TransactionID is the unique identifier and reference number for each
						transaction uploaded into CAL-ACCESS
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CARS_Id" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						TransactionID is the unique identifier and reference number for each Treasurer and Principal Officer
						uploaded into CARS. This will be used as the identifier for the officers in subsequent amendments.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[\s\S]*[^ ][\s\S]*"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExecutedOn" type="dateOrDateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Insert the date on which the signature was obtained. No future dates are allowed.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignerType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Signer type (Candidate, Treasurer, Principal Officer, etc.)
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Name.FirstName" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						First name of person attesting.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Name.LastName" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Last name (surname) of person attesting.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="candidateOfficeTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GOV">
				<xs:annotation>
					<xs:documentation>Governor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LTG">
				<xs:annotation>
					<xs:documentation>Lieutenant Governor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SOS">
				<xs:annotation>
					<xs:documentation>Secretary of State</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CON">
				<xs:annotation>
					<xs:documentation>State Controller</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ATT">
				<xs:annotation>
					<xs:documentation>Attorney General</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRE">
				<xs:annotation>
					<xs:documentation>State Treasurer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INS">
				<xs:annotation>
					<xs:documentation>Insurance Commissioner</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUP">
				<xs:annotation>
					<xs:documentation>Super. of Public Instruction</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SEN">
				<xs:annotation>
					<xs:documentation>State Senator</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASM">
				<xs:annotation>
					<xs:documentation>State Assembly</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BOE">
				<xs:annotation>
					<xs:documentation>Board of Equalization</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASR">
				<xs:annotation>
					<xs:documentation>Assessor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BED">
				<xs:annotation>
					<xs:documentation>Board of Education</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAT">
				<xs:annotation>
					<xs:documentation>City Attorney</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCB">
				<xs:annotation>
					<xs:documentation>Community College Board</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCM">
				<xs:annotation>
					<xs:documentation>City Council</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COU">
				<xs:annotation>
					<xs:documentation>County Council</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CSU">
				<xs:annotation>
					<xs:documentation>County Supervisor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CTR">
				<xs:annotation>
					<xs:documentation>Local Controller</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DAT">
				<xs:annotation>
					<xs:documentation>District Attorney</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MAY">
				<xs:annotation>
					<xs:documentation>Mayor</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PDR">
				<xs:annotation>
					<xs:documentation>Public Defender</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PLN">
				<xs:annotation>
					<xs:documentation>Planning Commissioner</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SCJ">
				<xs:annotation>
					<xs:documentation>Superior Court Judge</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SHC">
				<xs:annotation>
					<xs:documentation>Sheriff-Coroner</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TRS">
				<xs:annotation>
					<xs:documentation>Local Treasurerv</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="candidateJurisdictionTypeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="STW">
				<xs:annotation>
					<xs:documentation>Statewide</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SEN">
				<xs:annotation>
					<xs:documentation>Senate District</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASM">
				<xs:annotation>
					<xs:documentation>Assembly District</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BOE">
				<xs:annotation>
					<xs:documentation>Board of Equalization District</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CIT">
				<xs:annotation>
					<xs:documentation>City</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CTY">
				<xs:annotation>
					<xs:documentation>County</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOC">
				<xs:annotation>
					<xs:documentation>Local</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation>Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="candidateType">
		<xs:sequence>
			<xs:element name="FirstName" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastName" minOccurs="1" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Prefix" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Suffix" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Nickname" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OfficeType" type="candidateOfficeTypeEnumeration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OfficeDescription" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>Required if OfficeType is 'Other'</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="JurisdictionType" type="candidateJurisdictionTypeEnumeration" minOccurs="1" maxOccurs="1"/>
			<xs:element name="JurisdictionDescription" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation>Required if JurisdictionType is 'Other'</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DistrictNumber" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntermediaryType" >
								<xs:sequence>
									<xs:choice>
										<xs:annotation>
											<xs:documentation>
												Using the same classifications as for normal contributor
												seems appropriate
											</xs:documentation>
										</xs:annotation>
										<xs:element name="Individual" type="individualType"/>
										<xs:element name="Other" type="organizationType"/>
										<xs:element name="SmallContributorCommittee" type="committeeType"/>
										<xs:element name="RecipientCommittee" type="committeeType"/>
										<xs:element name="PoliticalParty" type="committeeType"/>
									</xs:choice>
									<xs:element name="IntermediaryID" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation xml:lang="en">
												IntermediaryID is a unique identifier and reference
												number assigned
												by the filer. This is used to track contributions
												from the same source despite name and/or address
												changes.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
							
							<xs:complexType name="TransferFromAffiliateType">
								<xs:sequence>
									<xs:element name="Affiliate" type="committeeType" minOccurs="1" maxOccurs="1"/>
									<xs:element name="AffiliateID" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation xml:lang="en">
												AffiliateID is a unique identifier and reference
												number assigned
												by the filer. This is used to track contributions
												from the same source despite name and/or address
												changes.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="DateOfOriginalContribution" type="xs:date" minOccurs="1" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
							
							<xs:complexType name="ForgivenLoanType" >
								<xs:sequence>
									<xs:choice>
										<xs:annotation>
											<xs:documentation>
												Using the same classifications as for normal contributor
												seems appropriate
											</xs:documentation>
										</xs:annotation>
										<xs:element name="Individual" type="individualType"/>
										<xs:element name="Other" type="organizationType"/>
										<xs:element name="SmallContributorCommittee" type="committeeType"/>
										<xs:element name="RecipientCommittee" type="committeeType"/>
										<xs:element name="PoliticalParty" type="committeeType"/>
									</xs:choice>
									<xs:element name="ForgivenLoanID" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation xml:lang="en">
												IntermediaryID is a unique identifier and reference
												number assigned
												by the filer. This is used to track contributions
												from the same source despite name and/or address
												changes.
											</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="100"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
							
						
</xs:schema>